<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Belt Reviewer</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
  </head>
  <body>
    <div class="container">
      <nav class = 'row'>
        <div class="six columns">
          <p></p>
        </div>
        <div class="two columns">
          <a href="/dashboard">Home</a>
        </div>
        <div class="two columns">
          <a href="/books/add">Add a Book</a>
        </div>
        <div class="two columns">
          <a href="/logout">Logout</a>
        </div>
      </nav>
      <h5>{{book.title}}</h5>
      <h6>{{book.author.name}}</h6>
      <div class="row">
        <div class="one-half column">
          {%for review in reviews%}
          <p>Rating: {{review.stars}}</p>
          <a href="/users/{{review.reviewer.id}}">{{review.reviewer.first_name}}</a> says: {{review.review}}
          <p>Posted on: {{review.created_at}}</p>
            {%if id == review.reviewer.id%}
            <a href="/books/delete/{{review.id}}">delete</a>
            {%endif%}
          {%endfor%}
        </div>
        <div class="one-half column">
          <form action="/books/review" method="POST">
            {% csrf_token %}
            <h6>Review:</h6> <textarea name="review" rows="8" cols="30"></textarea>
            <h6>Rating:
              <select name="rating">
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
                <option value=5>5</option>
              </select> stars
            </h6>
            <input type="hidden" name="book_id" value="{{book.id}}">
            <p><input type="submit" name="submit" value="submit"></p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
